.movies-card{
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0)50%, rgba(0, 0, 0, 1));
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    display: flex;
    align-items: end;
    cursor: pointer;
    border-radius: 8px;
    transition: all 200ms;
}

.movies-card:hover{
    scale: 1.1;   
}

.movies-card:hover img{
    z-index: -1;
}
.movies-card img{
    width: 100%;
    border-radius: 8px;
    position: absolute;
    z-index: -1;
}

.movies-minimal-info{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    backdrop-filter: blur(4px);
}

.movies-minimal-info span:nth-child(1){
    font-size: 1.2rem;
    font-weight: 700;
}

.movies-minimal-info span:nth-child(2){
    opacity: 0.5;
}